table {
    font-size: 30px;
    background-color: rgb(168, 168, 168);
    color: #000000;
	text-shadow: white 1px 1px 7px;
}

td {
    height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background-color: white;
}

tbody tr:last-child, tr:first-child,
tr td:last-child, td:first-child {
    background-color: white;
}